<!doctype html>
<title>Simple Linear Regression App</title>
<h1>House Prices file upload (csv)</h1>
<p>Please Upload a csv file with House Price data or use the default file. Alternatively,
download an example file to populate and upload. Then, enter some fields to
perform a prediction for a house of interest.</p>
<form action="" method=post enctype=multipart/form-data><p></p>
	<input type="submit" name="Download" value="Download Example File">
</form>
<form action="" method=post enctype=multipart/form-data><p></p>
	<label>LotFrontage</label><input type="text" name="LotFrontage">
	<label>LotArea</label><input type="text" name="LotArea"><p></p>
	<label>OverallQual</label><input type="text" name="OverallQual">
	<label>OverallCond</label><input type="text" name="OverallCond"><p></p>
	<label>YearBuilt</label><input type="text" name="YearBuilt">
	<label>YearRemodAdd</label><input type="text" name="YearRemodAdd"><p></p>
	<label>MasVnrArea</label><input type="text" name="MasVnrArea">
	<label>BsmtFinSF1</label><input type="text" name="BsmtFinSF1"><p></p>
	<label>BsmtFinSF2</label><input type="text" name="BsmtFinSF2">
	<label>BsmtUnfSF</label><input type="text" name="BsmtUnfSF"><p></p>
	<label>TotalBsmtSF</label><input type="text" name="TotalBsmtSF">
	<label>1stFlrSF</label><input type="text" name="1stFlrSF"><p></p>
	<label>2ndFlrSF</label><input type="text" name="2ndFlrSF">
	<label>LowQualFinSF</label><input type="text" name="LowQualFinSF"><p></p>
	<label>GrLivArea</label><input type="text" name="GrLivArea">
	<label>BsmtFullBath</label><input type="text" name="BsmtFullBath"><p></p>
	<label>BsmtHalfBath</label><input type="text" name="BsmtHalfBath">
	<label>FullBath</label><input type="text" name="FullBath"><p></p>
	<label>HalfBath</label><input type="text" name="HalfBath">
	<label>BedroomAbvGr</label><input type="text" name="BedroomAbvGr"><p></p>
	<label>KitchenAbvGr</label><input type="text" name="KitchenAbvGr">
	<label>Fireplaces</label><input type="text" name="Fireplaces"><p></p>
	<label>GarageYrBlt</label><input type="text" name="GarageYrBlt">
	<label>GarageCars</label><input type="text" name="GarageCars"><p></p>
	<label>GarageArea</label><input type="text" name="GarageArea">
	<label>WoodDeckSF</label><input type="text" name="WoodDeckSF"><p></p>
	<label>OpenPorchSF</label><input type="text" name="OpenPorchSF">
	<label>EnclosedPorch</label><input type="text" name="EnclosedPorch"><p></p>
	<label>3SsnPorch</label><input type="text" name="3SsnPorch">
	<label>ScreenPorch</label><input type="text" name="ScreenPorch"><p></p>
	<label>PoolArea</label><input type="text" name="PoolArea">
	<label>MiscVal</label><input type="text" name="MiscVal"><p></p>
	<label>MoSold</label><input type="text" name="MoSold">
	<label>YrSoldlabel</label><input type="text" name="YrSold"><p></p>
	<label>SalePrice</label><label>To be predicted</label>
	<input type=file name=file><input type=submit value=Upload>
	<input type="submit" name="Default" value="Use Default File">
</form>